<!DOCTYPE html>
<html>
  <head>
     <title>Find Food</title>
  </head>
  <body>
    <h1>Here is the list of the free found:</h1>

    <select>
      <option value="volvo">location</option>
      <option value="saab">time</option>
      <option value="mercedes">quantity</option>
    </select>

      <ul>
          <li>
            Cookies, CS Club, 2:35PM, 12 <button type="button" name= "Edit" action="/reportfood">Edit</button> <button type="button" name = "Remove">Remove</button>
         </li>
         <li>
            Croissant, S412, 4:15PM, 5 <button type="button" name= "Edit" action="/reportfood">Edit</button> <button type="button" name = "Remove">Remove</button>
        </li>
        <li>
           Donuts, PSY, 5:00PM, 10  <button type="button" name= "Edit" action="/reportfood">Edit</button> <button type="button" name = "Remove">Remove</button>
       </li>
      </ul>
  </body>
</html>
