
<!DOCTYPE html>
<html>
<body>


  <h2>Report Available Food</h2>
    <form action="/action_page.py">
      Food Type:<br>
      <input type="text" name="foodType" value="Full Lunch">
      <br>
      Location:<br>
      <input type="text" name="location" value="3rd St.">
      <br>
      Time: <br>
      <input type="text" name="Time" value="11 AM to 2 PM">
      <br>
      Quantity: <br>
      <input type="text" name="quantity" value="15">
      <br>
      <br>
      <input type="submit" value="Submit">
    </form>

</body>
</html>
